body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}
.fcc {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fsc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fec {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.fbc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fac {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
p {
    color: #5e6d82;
    line-height: 1.5em;
}

.result-data-table {
    margin-bottom: 45px;
}

.el-dialog__body {
    height: min(80vh, 550px);
    overflow-y: auto;
}

.mobileStatusBar {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-48%, 0);
    overflow: hidden;
    max-width: calc(100vw - 30px);
}

.control-block> hr {
    width: calc(100% + 20px);
    margin-left: -20px;
}

.operator-block {
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100%;
    width: 100%;
}

thead .el-checkbox__inner {
    display: none!important;
}

.el-dialog__body-mobile {
    height: calc(100vh - 150px);
    overflow-y: auto;
}