<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>標題自己改</title>
    <!--  JavaScript Library  -->
    <script src="./js/jquery.slim.min.js"></script>
    <script src="./js/bootstrap.bundle-4.6.1.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/element-ui.js"></script>
    <script src="./js/perfect-scrollbar.min.js"></script>
    <!--  Style Library  -->
    <link rel="stylesheet" href="./css/element-ui.css">
    <link rel="stylesheet" href="./css/bootstrap-4.6.1.min.css">
    <link rel="stylesheet" href="./css/perfect-scrollbar.css">
    <!--  !important Data  -->
    <script src="./config.js"></script>
</head>
<body>
    <div id="root">
        <!--    Management    -->
        <el-dialog width="80%" title="Management" :visible.sync="managementStatus.rootWindow">
            <!--     TODO: Management Feature        -->
        </el-dialog>
        <!--    Select Hospital    -->
        <el-dialog title="Select Hospital" :visible.sync="finalStep.selectHospital" :fullscreen="isTouchDevice()" :width="isTouchDevice() ? '100%' : '60%'">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 mb-4">
                        <p class="text-center">Chose City</p>
                        <hr>
                        <el-select clearable class="w-100" v-model="hospitalSelected.city" placeholder="請選擇">
                            <el-option
                                    v-for="item in city"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <p class="text-center">Chose Area</p>
                        <hr>
                        <el-select
                            :disabled="hospitalSelected.city === ''"
                            class="w-100" v-model="hospitalSelected.area" clearable
                            :placeholder="hospitalSelected.city === '' ? 'Chose city before chose it' : '請選擇'"
                        >
                            <el-option
                                v-if="hospitalSelected.city !== ''"
                                v-for="item in hospitalSelected.city !== '' ? (city.filter(e => e.id == hospitalSelected.city).at(0).areas) : []"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <p class="text-center">Chose Hospital Type</p>
                        <hr>
                        <el-select
                                class="w-100" v-model="hospitalSelected.hospitalType"
                                placeholder="請選擇" multiple>
                            <el-option
                                v-for="item in hospitalType"
                                :key="item.id"
                                :label="item.description"
                                :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Keyword: </p>
                        <el-input v-model="hospitalSelected.keyword" placeholder="Keyword..."></el-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-5">
                        <h2>Result: </h2>
                        <hr>
                    </div>
                </div>
                <div class="row mb-4" v-for="data in getTargetHospital()">
                    <div class="col-12">
                        <h4>{{ data.name }}</h4>
                        <p class="m-0" v-if="data.address">Address: {{ data.address }}</p>
                        <p class="m-0" v-if="data.url">URL: <a target="_blank" :href="data.url">{{ data.url }}</a></p>
                        <p class="m-0" v-if="data.comment" v-html="'Note: ' + data.comment.replace('\n', '&nbsp;')"></p>
                        <div v-if="data.phone.length" v-for="item in data.phone">
                            <p class="m-0" v-html="(item.description + ': ' + item.number).replace('\n', '&nbsp;')"></p>
                        </div>
                        <div v-if="data.hospitalType.length >= 1">
                            <p class="m-0">Services: </p>
                            <el-tag class="mr-1" size="small" v-for="item in data.hospitalType">{{ hospitalType.filter(e => e.id == item).at(0).description }}</el-tag>
                        </div>
                    </div>
                </div>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="finalStep.selectHospital = false">Cancel</el-button>
                <el-button @click="finalStep.getResult = true" type="primary">Confirm</el-button>
            </span>
        </el-dialog>
        <!--    Get Result    -->
        <el-dialog width="80%" title="Get result" :visible.sync="finalStep.getResult" :fullscreen="isTouchDevice()" :width="isTouchDevice() ? '100%' : '60%'">
            <!--     TODO 01: Get result        -->
            <h3>Comming soon</h3>
        </el-dialog>
        <div class="container">
            <div class="row fcc" style="height: 100vh;">
                <div class="col-3 mt-3" v-if="!isTouchDevice()">
                    <el-steps
                            v-if="!isTouchDevice()"
                            :active="active"
                            direction="vertical"
                            finish-status="success"
                            process-status="finish"
                            style="height: 80vh;">
                        <el-step
                                v-for="item in statusConfig.filter(e => !e.parent)"
                                @click="active = index"
                                :title="item.text"
                                :description="item.hasParent ? statusConfig.filter(e => e.parent && e.root == item.id).map(e => e.text).join('、') : ''">
                        </el-step>
                    </el-steps>
                </div>
                <div class="col-lg-9">
                    <h1 class="font-weight-bold mt-5">{{ statusConfig[active].text }}</h1>
                    <div class="operator-block" v-bind:style="{height: operatorSize}">
<!--                        <div class="row" v-if="isTouchDevice()">-->
<!--                            <div class="col-sm-3 mb-3" v-for="item in optionConfig.filter(e => e.status == active)">-->
<!--                                <el-card class="w-100">-->
<!--                                    <h5>{{ item.text }}</h5>-->
<!--                                </el-card>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="row">
                            <div class="col-12">
                                <el-table
                                        ref="multipleTable"
                                        :data="optionConfig.filter(e => e.status == active)"
                                        tooltip-effect="dark"
                                        style="width: 100%"
                                        @selection-change="handleSelectionChange"
                                        v-if="!statusConfig.filter(e => e.id == active)[0].hasParent"
                                >
                                    <el-table-column
                                            type="selection"
                                            width="55">
                                    </el-table-column>
                                    <el-table-column
                                            label="描述">
                                        <template slot-scope="scope">{{ scope.row.text }}</template>
                                    </el-table-column>
                                </el-table>

                                <div
                                        v-for="(data, index) in statusConfig.filter(e => e.parent && e.root == active)"
                                        :key="index"
                                        class="w-100 sub-table mb-4">
                                    <p>{{ data.text }}</p>
                                    <el-table
                                            ref="multipleTable"
                                            :data="optionConfig.filter(e => e.status == data.id)"
                                            tooltip-effect="dark"
                                            style="width: 100%"
                                            @selection-change="handleSelectionChange"
                                    >
                                        <el-table-column
                                                type="selection"
                                                width="55">
                                        </el-table-column>
                                        <el-table-column
                                                label="描述">
                                            <template slot-scope="scope">{{ scope.row.text }}</template>
                                        </el-table-column>
                                    </el-table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="control-block">
                        <hr>
                        <div class="control-button fbc">
                            <div>
                                <el-button type="danger" icon="el-icon-delete" @click="reset()">reset</el-button>
                                <el-button
                                        v-if="!isTouchDevice()"
                                        type="danger"
                                        plain icon="el-icon-setting"
                                        @click="managementStatus.rootWindow = true">
                                    Management
                                </el-button>
                            </div>
                            <div>
                                <el-button
                                        :disabled="active == 0"
                                        @click="pageSwitch(-1)"
                                        class="mr-3"
                                        icon="el-icon-arrow-left"
                                        type="primary" plain
                                >
                                    Previous
                                </el-button>
                                <el-button
                                        v-if="active < statusConfig.filter(e => !e.parent).length - 1"
                                        @click="pageSwitch(1)"
                                        icon="el-icon-arrow-right"
                                        type="primary" plain
                                >
                                    Next
                                </el-button>
                                <el-button
                                        v-if="active >= statusConfig.filter(e => !e.parent).length - 1"
                                        icon="el-icon-printer"
                                        type="primary" plain
                                        @click="finalStep.selectHospital = true"
                                >
                                    Select Hospital
                                </el-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mobileStatusBar" v-if="isTouchDevice()">
                    <el-progress :percentage="25"></el-progress>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="./js/index.js"></script>
<link rel="stylesheet" href="./css/style.css">
</html>